@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400..700&family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base{
   
    :root {
        --primary-color:44, 24%, 41%;
        --primary-input: 49, 24%, 83%;
        --primary50: 40, 23%, 97%;
        --primary100: 44, 26%, 92%;
        --primary200: 43, 25%, 83%;
        --primary300: 45, 24%, 75%;
        --primary400:44, 24%, 66%;
        --primary500:44, 24%, 58%;
        --primary600:44, 24%, 50%;
        --primary700:44, 26%, 92%,0.5;
        --primary800:44, 24%, 35%;

        --neutral700: 0, 3%, 38%;
        --neutral600: 0, 3%, 47%;
        --neutral400:0, 0%, 48%;
        --neutral500: hsl(0, 2%, 55%);
        --neutral50: hsl(0, 2%, 64%);
        --primary-yellow: 36, 94%, 50%;
        --primary-yellow200: 22, 100%, 96%;
        --primary-green200: hsl(144, 20%, 95%);
        

        --secondary: 219, 66%, 22%;
        --secondary400:219, 66%, 57%;
        --secondary500:219, 66%, 57%,0.1;
        --secondary600:219, 66%, 57%,0.3;;
        --secondary700:144, 20%, 95%;
        
        /* 248, 67%, 40% */

        --success: 152, 57%, 38%;
        --sucess500:152, 57%, 38%,0.1;
        --sucess600:152, 57%, 38%,0.2;
        --sucess700:152, 57%, 38%,0.3;

        --warning:24, 94%, 50%;
        --warning500:24, 94%, 50%,0.1;
        --warning600:24, 94%, 50%,0.2;
        --warning700:24, 94%, 50%,0.3;
        --warning800:24, 94%, 50%,0.8;
    }
   
    @layer base{
        body {
            /* @apply text-black; */
          }
    }
    body {
        font-family: Arial, Helvetica, sans-serif;
        background-color: #eeeadd;
        background-image: url("./assets/Frame.png"),linear-gradient(to bottom,#eeeadd,#eeeadd);
        background-repeat: no-repeat;
        background-position: top right, top left;
      
      }
   
   
}

